<IfModule mod_rewrite.c>
    RewriteEngine On

    # Route /api/* requests to /web/index.php
    RewriteCond %{REQUEST_URI} ^/api/ [NC]
    RewriteRule ^ web/index.php?url=$1 [QSA,L]

    # Fallback for all other non-file and non-directory requests
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ web/index.php [L]
</IfModule>

# Prevent directory listing
Options -Indexes
