/* ============== Root Variables ============== */
:root {
    --main-color: #000;
    --emphasis-color: #e3e566;
    --border-radius: 100px;
}

/* ============== Header Section ============== */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.header > .navbar {
    padding: 1.5rem 10rem;
}

.header > .navbar > .container-fluid > .navbar-collapse {
    flex-grow: 0;
}

.header
    > .navbar
    > .container-fluid
    > .collapse:nth-of-type(1)
    > .navbar-nav
    > .nav-item
    > .nav-link:hover {
    text-decoration: underline !important;
}

.header
    > .navbar
    > .container-fluid
    > .collapse:nth-of-type(2)
    > .navbar-nav
    > .nav-item {
    margin-left: 1rem;
    padding-inline: 1rem;
    border: 1px solid var(--main-color);
    border-radius: var(--border-radius);
}

.header
    > .navbar
    > .container-fluid
    > .collapse:nth-of-type(2)
    > .navbar-nav
    > .nav-item:hover {
    border: 2px dashed var(--main-color);
}

/* ============= Main Section ============== */
.main {
    margin-top: 95px;
}

.main > .landing-page {
    height: calc(100vh - 95px);
}

.main
    > .landing-page
    > .carousel
    > .carousel-inner
    > .carousel-item:nth-of-type(1) {
    padding-inline: 8rem;
    background-image: url("../images/landing_page_bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main
    > .landing-page
    > .carousel
    > .carousel-inner
    > .carousel-item:nth-of-type(1)
    > .carousel-content
    > h1 {
    font-size: 7rem;
}

.main
    > .landing-page
    > .carousel
    > .carousel-inner
    > .carousel-item:nth-of-type(1)
    > .carousel-content
    > p
    > .text-emphasis {
    color: var(--emphasis-color);
}

.main
    > .landing-page
    > .carousel
    > .carousel-inner
    > .carousel-item:nth-of-type(1)
    > .carousel-content
    > .btn {
    margin-top: 7rem;
    padding: 0.8rem 7rem;
    border-radius: var(--border-radius);
}

.main
    > .landing-page
    > .carousel
    > .carousel-inner
    > .carousel-item:nth-of-type(1)
    > .carousel-content
    > .btn:hover {
    color: var(--main-color) !important;
    outline: 1px solid var(--main-color);
    background: transparent !important;
}

.main
    > .landing-page
    > .carousel
    > .carousel-inner
    > .carousel-item:nth-of-type(2)
    > video {
    object-fit: cover;
}

/* ===== Heading Style for Each Section ====== */

.main > .section > .heading {
    position: relative;
    font-size: 5rem;
    color: transparent;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    pointer-events: none;
    -webkit-text-stroke: 0.05rem var(--main-color);
}

.main > .section > .heading > span {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    color: var(--main-color);
    transform: translate(-50%, -50%);
}

/* ============= About Section ============== */
